<%= content_for :html do %>
  <div id="root"></div>
<% end %>

<%= content_for :javascript do %>
  document.addEventListener('DOMContentLoaded', function() {
    Madeleines.start(document.getElementById('root'));
  });
<% end %>
