@import "global"

.baker
  content-font()
  status-message-container()

  padding 0 0.5rem

  .baker-prompt
    display block
    margin-top 3.5rem

  .baker-input
    display block
    width 100%
    margin-bottom 1.5rem

  .baker-button
    display block
    margin auto

    font-size: 1.5rem

@media tablet-media-query
  .baker
    main-content()
    padding 0
