@import "global"

.baker
  content-font()

  padding 0 0.5rem

  .baker-prompt
    display block
    margin-top 2.5rem

  .baker-input
    display block
    width 100%
    margin-bottom 1.5rem

  .baker-button
    display block
    margin auto

    font-size: 1.5rem
