@import "global"

.four-oh-four
  ui-font()
  margin-top 4rem

  .line
    font-size 1.5rem
    margin-left 1rem

  .apology
    margin-top 2rem
    margin-right 0.5rem
    text-align right

@media tablet-media-query
  .four-oh-four
    main-content(vpad: 4rem)
