@import "global"

.how-to
  content-font()
  font-size 1.5rem
  margin-top 2rem

  .title
    color contrast-color
    text-transform uppercase
    text-align center
    font-weight bold

  .paragraph
    margin 0 0.5rem

    &+ .title
      margin-top 2rem

  .screenshot
    display block
    max-width 80%
    margin 1rem auto

    box-shadow 0 0 0.5rem 0 text-color

@media tablet-media-query
  .how-to
    main-content(vpad: 2rem)

    .title
      font-size 2rem
