@import "global"

.remembrance
  content-font()

  .remembrance-title
    font-weight bold
    font-size: 2rem
    color link-color

    margin 2rem 1rem
    text-align center

    a, a:active, a:visited
      color inherit
      text-decoration none

    a:hover
      text-decoration underline

  .remembrance-preview
    font-size: 1.5rem

    margin 0 0.5rem

.drop-remembrance
  content-font()
  margin-top 2.5rem
  text-align right
  font-size .75rem

  .drop-remembrance-button
    display block
    width 100%

@keyframes slide
  0%
    left -15rem
  100%
    left -2.5rem

.loading-remembrance
  loader-size = 10rem

  position absolute
  width loader-size
  height loader-size
  top 50%
  left 50%
  margin-top -(loader-size / 2)
  margin-left -(loader-size / 2)

  border-radius 100%
  overflow hidden

  orb()
    width loader-size * 3
    height loader-size * 3
    position absolute
    opacity 0.7

  .orb-1
    orb()
    top -(loader-size / 1.9)
    background radial-gradient(button-color, transparent)
    animation(slide 5s ease-in-out 0s infinite alternate)

  .orb-2
    orb()
    top -(loader-size * 1.5)
    left -(loader-size * 1.5)
    background radial-gradient(contrast-color, transparent)
    animation(slide 3s ease-in-out 2s infinite alternate)
