@import "global"

.remembrance
  madeleines-font()

  .remembrance-title
    font-weight bold
    font-size: 2rem
    color link-color

    margin 2rem 1rem
    text-align center

    a, a:active, a:visited
      color inherit
      text-decoration none

    a:hover
      text-decoration underline

  .remembrance-preview
    font-size: 1.5rem

    margin 0 0.5rem
