@import "global"

.settings
  content-font()
  status-message-container()

  padding 0 0.5rem

  .section-heading
    ui-font()
    margin-top 2rem
    margin-bottom 1rem
    font-size 1.5rem
    color contrast-color
    font-weight bold
    border-bottom 1px solid contrast-color

  label, input
    display block

  label input
    display inline

  label,
  input[type="submit"]
    margin-top 1rem

  .email
    background-color disabled-input-color
    padding 0 0.5rem

  .twitter-prefix
    border 1px solid text-color
    border-right none

    &.disabled
      background-color disabled-input-color

  .twitter-input
    border-left none

@media tablet-media-query
  .settings
    main-content()
    padding 0
