@import "global"

.settings
  content-font()
  status-message-container()

  padding 0 0.5rem

  .section
    margin 2rem 0

  .section-heading
    ui-font()
    margin-bottom 1rem
    font-size 1.5rem
    color contrast-color
    font-weight bold
    border-bottom 1px solid contrast-color

  label, input
    display block

  label input
    display inline

  label,
  input[type="submit"]
    margin-top 1rem

  .email
    background-color disabled-input-color
    padding 0 0.5rem

  .twitter-prefix
    border 1px solid text-color
    border-right none

    &.disabled
      background-color disabled-input-color
      border-color disabled-border-color
      color disabled-text-color

  .twitter-input
    border-left none

  .selector-wrap
    padding 1.5rem 0

    .api-key-selector
      border none
      font-size 1rem
      width 20rem

@media tablet-media-query
  .settings
    main-content()
    padding 0

    .selector-wrap
      padding 1rem 2rem
