@import "global"

.splash
  background-image url('/assets/splash-bg-phone.png')
  background-size cover

  float-on-top()
    position absolute
    top 0
    left 0
    right 0

  .login-button
    float-on-top()
    width 100%

  .login-form
    content-font()
    float-on-top()
    background-color bg-color
    padding 0 0.5rem 0.5rem 0.5rem
    border-bottom 0.25rem solid contrast-color

    label,
    input
      display block

    label,
    input[type="submit"]
      margin-top 0.5rem

    input
      width 100%

    .login-fail-message
      position absolute
      top 100%
      left 0
      right 0
      text-align center
      color bg-color
      background-color error-color

  .hero
    margin-top 6rem
    padding 0 0.5rem

    hero-line()
      content-font()
      text-align justify
      text-align-last justify
      text-transform uppercase
      margin auto

      &:after
        content ""
        display inline-block
        width 100%

    .hero-line-normal
      hero-line()
      color bg-color
      font-size 1.5rem
      width 16rem

    .hero-line-pop
      hero-line()
      color contrast-color
      font-weight bold
      font-size 1.8rem
      width 19rem
