@import "global"

.top-bar
  background-color contrast-color

  ui-font()
  font-size 1.75rem

  position relative

  .title
    display inline-block
    margin 0.5rem

  .bake-button
    position absolute
    top 0
    right 0
    bottom 0
