@import "global"

.top-bar
  background-color contrast-color

  ui-font()
  font-size 1.75rem

  .top-bar-content
    .change-page
      height 100%
      background-color transparent
      color bg-color
      padding-left 1rem
      padding-right 1rem

      &.active
        border-bottom 0.25rem solid button-color
        color text-color

      &.left
        float left
      &.right
        float right

@media tablet-media-query
  .top-bar
    .top-bar-content
      max-width content-width
      margin auto
