bg-color = #FFFFFF
contrast-color = #EDB92E
button-color = #F85931
text-color = #333333
link-color = button-color
success-color = #A3A948
error-color = #CE1836

ui-font()
  font-family "Satisfy", sans-serif
  color text-color

content-font()
  font-family "Open Sans", serif
  color text-color

animation()
  -webkit-animation arguments
  -moz-animation arguments
  -o-animation arguments
  animation arguments

button.button
  ui-font()
  color bg-color
  font-size 1.25rem
  background-color button-color
  padding 0.5rem 1rem

  &[disabled]
    background-color rgba(button-color, 60%)

input[type="text"]
  content-font()
  box-sizing border-box
  border 1px solid text-color
  font-size 1rem
  padding 0.5rem
