bg-color = #FFFFFF
contrast-color = #8EB2C5
button-color = #615375
text-color = #333333
link-color = button-color
success-color = #A3A948
error-color = #CE1836

content-width = 30rem

tablet-media-query = '(min-width: 700px)'
desktop-media-query = '(min-width: 1200px)'

ui-font()
  font-family "Open Sans", sans-serif
  color text-color
  text-transform uppercase

content-font()
  font-family "Open Sans", sans-serif
  color text-color

animation()
  -webkit-animation arguments
  -moz-animation arguments
  -o-animation arguments
  animation arguments

main-content(vpad=0)
  width content-width
  margin 0 auto
  padding-top vpad

button.button,
input[type="submit"].button
  ui-font()
  color bg-color
  font-size 1.25rem
  background-color button-color
  padding 0.5rem 2rem

  &[disabled]
    background-color rgba(button-color, 60%)

input[type="text"],
input[type="email"],
input[type="password"]
  content-font()
  box-sizing border-box
  border 1px solid text-color
  font-size 1rem
  padding 0.5rem

.icon svg
  height 1rem
  width 1rem
