// http://www.colourlovers.com/palette/148712/Gamebookers

bg-color = #E9E9E9
contrast-color = #FF9900
text-color = #424242
link-color = #3299BB

madeleines-font()
  font-family "Tex Gyre Adventor"
  color text-color

animation()
  -webkit-animation arguments
  -moz-animation arguments
  -o-animation arguments
  animation arguments

button.button
  madeleines-font()
  font-weight bold

  background-color contrast-color

  padding 0.25rem 1rem

  &[disabled]
    background-color lighten(contrast-color, 30%)
    color lighten(text-color, 30%)
