button,
input[type="submit"]
  padding 0
  border none
  margin 0
  background-color transparent
  -webkit-appearance none
  font-size 1rem
  cursor pointer

  &:focus
    outline 0

  &::-moz-focus-inner
    padding 0
    border 0
